/* Grid Styles*/
.main-container{
    background-color: #efefef;
    display: grid;
    grid-template-columns: 20vw auto;
}

.section-container{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
}

/* Design Styles */

body{
    margin: 0;
}